<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'calculator/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special Elite">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="pages">
        <a href="{% url 'index' %}" class="page-link"><i class="fa fa-home" style="font-size:30px" id="calculator"></i></a>
    </div>
    <h1 id="result_h1">Comparison Results</h1>
    {% if disclaimer %}
    <a id="visualize">Notice: Data point(s) missing from dataset</a>
    {% endif %}
    <div class="center">
        <div id="bar"> {{ graph | safe}} </div>
    </div>
    <br>
    <a id="visualize">Results are based on 2014 data </a>

</body>
</html>