<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Death Calculator</title>
        <link rel = "stylesheet" href="{% static 'calculator/styles.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Special Elite' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Major Mono Display' rel='stylesheet'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <script src="{% static 'calculator/warning.js' %}"></script>
        <h1>DEATH CALCULATOR</h1>
        <h2 id="firstSentence">We're all going to die one day.</h2>
        <h2 id="secondSentence">But how will it happen?</h2>
        <h2 id="thirdSentence">Enter your information below to find out.</h2>
                  
        <form action="results/" onsubmit="return validateForm()" method="get"> 
            <select name="Sex" id="Sex" onchange="choice1(this)">
                <option value="Please select">Sex</option>
                <option value="M">M</option>
                <option value="F">F</option>
            </select>                                                                 
                                                                             
            <br><br>
            <select name="Ethnicity" id="Ethnicity" onchange="choice1(this)">
                <option value="Please select">Ethnicity</option>
                <option value="Asian and Pacific Islander">Asian and Pacific Islander</option>
                <option value="White Non-Hispanic">White Non-Hispanic</option>
                <option value="Hispanic">Hispanic</option>
                <option value="Black Non-Hispanic">Black Non-Hispanic</option>
            </select>
            <br><br>
            <input type="submit" value="Submit" id="Submit">
            <br><br>
            <a href="{% url 'visualize' %}" id="visualize">Click here to see city wide data</a>

        </form>
</body>
</html>
