<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Death Calculator</title>
        <link rel = "stylesheet" href="{% static 'calculator/styles.css' %}">
    </head>
    <body>
        <script src="{% static 'calculator/warning.js' %}"></script>
        <h1>DEATH CALCULATOR</h1>
        <h2 id="firstSentence">We're all going to die one day.</h2>
        <h2 id="secondSentence">But how will it happen?</h2>
        <h2 id="thirdSentence">Enter your information below to find out.</h2>
       
            <select name="Sex" id="Sex" onchange="choice1(this)>
                <option value="Please select">Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
                                   
        <form action="results/" onsubmit="return validateForm()" method="get"> 
            <br><br>
            <select name="Ethnicity" id="Ethnicity" onchange="choice1(this)">
                <option value="Please select">Ethnicity</option>
                <option value="White">White</option>
                <option value="African American">African American</option>
                <option value="Hispanic">Hispanic or Latino</option>
                <option value="Indian">Indian</option>
                <option value="Asian">Asian</option>
                <option value="Native Hawaiian">Native Hawaiian</option>
                <option value="Other">Other</option>
            </select>
            <br><br>
            <input type="submit" value="Submit" id="Submit">
        </form>
</body>
</html>
