<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'calculator/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Special Elite">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="pages">
        <a href="{% url 'index' %}" class="page-link"><i class="fa fa-home" style="font-size:30px" id="calculator"></i></a>
    </div>
    <h1 id="result_h1">Citywide Data</h1>
    <ul id="query_results2">
        {{ query_results | safe}}
    </ul>
    <a id="visualize">Results are based on 2019 data </a>

    <form action="../compareForm/" onload=" ">
        <input type="submit" value="Compare" id="Submit">
    </form>

</body>
</html>
